
:root {
    --color-bg: #252a33;
    --color-text: #eee;
    --color-text-subtle: #a2a2a2;
}

body {
    max-width: 100%;
}

[data-termynal] {
    color: var(--color-text);
    font-size: 1vw;
    border-radius: 4px;
    position: relative;
}

[data-termynal]:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

[data-termynal]:after {
    position: absolute;
    color: var(--color-text-subtle);
    left: 0;
    text-align: center;
}

[data-ty] {
    display: block;
    line-height: 1.2em;
}



[data-ty]:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
    margin-right: 0.50em;
    color: var(--color-text-subtle);
}

[data-ty="input"]:before {
    content: 'root@localhost#';
}

[data-ty="login"]:before {
    margin-right: 0.50em;
    color: var(--color-text);
}

[data-ty="login"]:before {
    content: 'localhost login: ';
}

[data-ty="password"]:before {
    margin-right: 0.50em;
    color: var(--color-text);
}

[data-ty="password"]:before {
    content: 'root password: ';
}

[data-ty][data-ty-prompt]:before {
    content: attr(data-ty-prompt);
}

[data-ty-cursor]:after {
    content: attr(data-ty-cursor);
    margin-left: 0.5em;
    -webkit-animation: blink 1s infinite;
            animation: blink 1s infinite;
}


/* Cursor animation */

@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
